---
import Splashtag from "./Splashtag.astro";
---

<div
  class="item-template hidden grid-rows-1 grid-cols-[0.1fr_0.5fr_1fr] bg-slate-700 pl-8 rounded-xl items-center p-4 justify-between max-w-[45rem] w-full"
>
  <div class="item-place justify-self-start"></div>
  <div class="flex flex-col items-center justify-self-center">
    <div
      class="bg-slate-400 text-black text-lg py-1 px-2 rounded-full shadow-xl w-full text-center"
    >
      <span class="item-power">100</span>
    </div>
    <img class="item-image w-20" src="" alt="" />
  </div>
  <Splashtag />
</div>

<style>
  .item-1 > .item-place {
    color: rgb(252, 221, 48);
    font-size: 5rem;
  }

  .item-2 > .item-place {
    color: rgb(219, 214, 214);
    font-size: 4rem;
  }

  .item-3 > .item-place {
    color: rgb(204, 126, 48);
    font-size: 3rem;
  }

  .item-4 > .item-place {
    color: #838383;
    font-size: 2rem;
  }
</style>
