---
import Splashtag from "./Splashtag.astro";
---

<div
  class="item-template item hidden ssm:grid-cols-[0.65fr_1fr] items-center p-4 gap-4 ssm:justify-between max-w-[45rem] w-full bg-backgroundDark/50 backdrop-blur-xl relative"
>
  <div class="flex items-center justify-around">
    <div class="item-place h-20 w-20"></div>
    <div class="flex flex-col items-center">
      <div
        class="item-power bg-gray-600 py-1 px-2 rounded-lg shadow-lg w-full text-center"
      >
      </div>
      <img class="item-image h-20" src="" alt="" />
    </div>
  </div>
  <Splashtag />
</div>

<style>
  .item::before {
    position: absolute;
    display: inline-block;
    content: "";
    background-color: inherit;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    height: 100%;
    width: 66px;
    top: 0;
    left: -66px;
    mask: url("/images/paint-right.webp") repeat-y;
    -webkit-mask: url("/images/paint-right.webp") repeat-y;
    mask-size: 100% 300%;
  }

  .item::after {
    position: absolute;
    display: inline-block;
    content: "";
    background-color: inherit;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    height: 100%;
    width: 66px;
    top: 0;
    right: -66px;
    mask: url("/images/paint-left.webp") repeat-y;
    -webkit-mask: url("/images/paint-left.webp") repeat-y;
    mask-size: 100% 300%;
  }

  .item:nth-child(1)::before,
  .item:nth-child(1)::after {
    mask-position: 100% 0%;
  }

  .item:nth-child(2)::before,
  .item:nth-child(2)::after {
    mask-position: 100% 100%;
  }

  .item:nth-child(3)::before,
  .item:nth-child(3)::after {
    mask-position: 100% 200%;
  }

  .item:nth-child(4)::before,
  .item:nth-child(4)::after {
    mask-position: 100% 300%;
  }

  .item-1 .item-place {
    background-image: url("../../public/images/medal-first.webp");
    background-size: cover;
  }

  .item-2 .item-place {
    background-image: url("../../public/images/medal-second.webp");
    background-size: cover;
  }

  .item-3 .item-place {
    background-image: url("../../public/images/medal-third.webp");
    background-size: cover;
  }

  .item-4 .item-place {
    background-image: url("../../public/images/medal-last.webp");
    background-size: cover;
  }
</style>
