---
import ItemTemplate from "./ItemTemplate.astro";
import RankingFilter from "./RankingFilter.astro";
---

<div class="crown mb-6 flex justify-center items-center">
  <img class="h-48 float" src="/images/crown.webp" alt="" />
</div>
<ul class="list flex-col gap-8 hidden"></ul>
<div class="spinner flex justify-center items-center h-96 sm:h-[42rem]">
  <div class="loading"></div>
</div>
<div
  class="error hidden flex-col justify-center items-center h-96 sm:h-[42rem] gap-4 text-center"
>
  <h2 class="text-xl font-Blitz-Bold">Something went wrong...</h2>
  <p class="text-textSecondary">
    An error occurred while fetching the data, try again later
  </p>
  <button
    class="error-button transition-all duration-200 border-1 border-border rounded-lg bg-backgroundLight hover:bg-backgroundLighter px-4 py-2"
  >
    Retry
  </button>
</div>
<RankingFilter />
<ItemTemplate />

<style is:global>
  .loading {
    mask: url("/images/loading.webp") no-repeat center;
    width: 10rem;
    height: 10rem;
    animation: loading 1.07s linear infinite;
  }

  @keyframes loading {
    0% {
      background-color: pink;
    }
    40% {
      background-color: pink;
    }
    50% {
      background-color: cyan;
    }
    90% {
      background-color: cyan;
    }
    100% {
      background-color: pink;
    }
  }
  .float {
    animation: float 5s ease-in-out infinite;
  }

  @keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0px);
    }
  }
</style>

<script src="./ranking.js"></script>
