---
import ItemTemplate from "./ItemTemplate.astro";
---

<div class="list flex flex-col gap-8 items-center"></div>
<ItemTemplate />
<button class="button mt-6">Test</button>

<script src="./ranking.js"></script>
