---

---

<div class="list flex flex-col gap-2">
  <div>
    <div>Leafi</div>
    <div class="power">10</div>
  </div>
  <div>
    <div>Madness</div>
    <div class="power">1110</div>
  </div>
  <div>
    <div>.q</div>
    <div class="power">110</div>
  </div>
  <div>
    <div>Jared</div>
    <div class="power">111110</div>
  </div>
  <div>
    <div>Ren</div>
    <div class="power">11110</div>
  </div>
</div>
<button class="button mt-6">Test</button>

<script src="./ranking.js"></script>
