---
import Splashtag from "./Splashtag.astro";
---

<li
  class="item-template hidden ssm:grid-cols-[0.65fr_1fr] items-center p-4 gap-4 ssm:justify-between w-full bg-backgroundDarker bg-shine rounded-xl border-1 border-border shadow-lg"
>
  <div class="flex items-center justify-around">
    <div class="item-place h-20 w-20"></div>
    <div class="flex flex-col items-center">
      <div
        class="item-power bg-backgroundLighter py-1 px-2 rounded-lg w-full text-center"
      >
      </div>
      <img class="item-image h-20 w-20" src="" alt="weapon image" />
    </div>
  </div>
  <Splashtag />
</li>

<style>
  .item-1 .item-place {
    background-image: url("/images/medals/medal-first.webp");
    background-size: cover;
  }

  .item-2 .item-place {
    background-image: url("/images/medals/medal-second.webp");
    background-size: cover;
  }

  .item-3 .item-place {
    background-image: url("/images/medals/medal-third.webp");
    background-size: cover;
  }

  .item-4 .item-place {
    background-image: url("/images/medals/medal-last.webp");
    background-size: cover;
  }
</style>
